@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


html{
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    font-size: small;
}

nav {
    font-family: Orbitron, sans-serif;
}

button{
    cursor: pointer;
}

input{
    font-family: "Montserrat", sans-serif;
}